@import "../../utils/vars.css";

:root {
    --hero: url("../../images/hero.jpg");
}

.hero-wrapper {
    position: relative;
    width: 100vw;
    /* 200 vh basically makes the size double whatever the viewport height is, thus extending the page down */
    height: 100vh;
    background-color: var(--main-bg);
    /* z-index: -1; */
    
}

.hero {
    background-image: var(--hero);
    /* Resize background to correct ratio */
    background-size: 1920px 1080px;
    /* Move background around to look good when page is resized */
    background-position: 64% 70%;
    /* Make landing page size viewport size */
    width: 100vw;
    height: 100vh;
    /* Flex to properly center things on it */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Move hero image to background */
    z-index: -1;
}

.hero-details-wrapper {
    /* Grid to properly line up header and text under it */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* outline: solid white 2px; */
    height: 30vh;
    width: 40vw;
}

.hero-details {
    color: var(--main-text);
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

h1.hero-details {
    align-items: flex-end;
    font-size: 60px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

p.hero-details {
    font-size: 30px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

div.hero-details.icons {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    /* outline: solid white 2px; */
    display: flex;
    justify-content: space-around;
    align-items: top;
    /* height: 80px; */
    /* width: 20%; */
}

.hero-link {
    /* Scale height to fit icons */
    height: 50px;
}

/* Just testing this out */
@media only screen and (max-width: 1000px) {
    .hero-details.icons {
        grid-column-start: 1 !important;
        grid-column-end: 4 !important;
    }
}

@media only screen and (max-width: 800px) {
    h1.hero-details {
        font-size: 40px !important;
        justify-content: center !important;
        align-items: center !important;

    }

    p.hero-details {
        font-size: 25px !important;
    }
}